<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
   <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
	         tex2jax: {
        skipTags: ['script', 'noscript', 'style', 'textarea', 'pre'],
        inlineMath: [['$','$']]
      }
    });
  </script>
    <script type="text/javascript"
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script>
     <link href="/css/syntax.css" rel="stylesheet">
<style>
    table{
      border-collapse: collapse;
      border-spacing: 0;
      border:2px solid #ff0000;
    }
    th{
      border:2px solid #000000;
    }
    td{
      border:1px solid #000000;
    }
</style> 
<style type="text/css">
 table.center {
       margin-left: auto;
	     margin-right: auto;
 }
</style>
    </head>
    <body style='font-family: "Times New Roman", Times, serif;'>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="iamshg@outlook.com">email</a></li>
   <li><a href="https://github.com/iamshg">github.com/iamshg</a></li>
   </ul>
  </footer>
  </body>

</html>
